h1 {color: orange; text-align: center;}
p  {font-size: 18px;}
#intro {font-size: 14px;}
.highlight {background-color: #f0f099}
.red {color: red;}
.green {color: green;}
.blue {color: blue;}
a {font-size: 60px}