/* This is an example of the float property */
img {
  float: left;
}
/* This is the Layout without Floats Demo */
code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}
header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
footer {
  clear: both;
  margin-bottom: 0;
}

/* To make the <section> and <aside> float...add shape as well */
section {
  float: left;
  width: 63%;
}
aside {
  float: right;
  width: 30%;
}


/* Three column Layout with Floats Demo */ 
code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}
header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
section {
  float: left;
  width: 30%;
}
footer {
  clear: both;
  margin-bottom: 0;
}


/* Example of containment */ 
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/* Two column containment example */ 
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
section {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}
aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}


/* Layout with Contained Floats Demo */ 
code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}
.default {
  background: none;
  color: #666;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  background: #eaeaed;
  border-radius: 6px;
  clear: both;
  *zoom: 1;
}
.group,
header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
section {
  float: left;
  width: 63%;
}
aside {
  float: right;
  width: 30%;
}
footer {
  margin-bottom: 0;
}

/* IN PRACTICE */ 
/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  float: left;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer small {
  float: left;
}
.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}

/* Inline-Block Positioning in Practice */ 
section {
  display: inline-block;
  margin: 0 1.5%;
  width: 30%;
}


/* Reusing Layouts In Practice
Create classes that define the width of the columns 
1/3 and 2/3 size */ 
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
/* Display the columns as inline-block elements 
Also set vertical alignment to the tops of each column.
Share these with both classes of columns */ 
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
/* Using the class grid, as well as our two column classes,
add padding to the left and right of each column. */ 
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
/* Create a container class, include the grid, 
and set each to a width value of 960px. Set margin to 0 auto, 
To center elements within the grid class on the page.
Add padding to the left and right of the container. */
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

/* Relative Positioning Example */ 
div {
  height: 100px;
  width: 100px;
}
.offset {
  left: 20px;
  position: relative;
  top: 20px;
}

/* Aboslute Positioning Example */ 
section {
  position: relative;
}
div {
  position: absolute;
  right: 20px;
  top: 20px;
}

