body {
  font: normal 16px Helvetica, Arial, sans-serif;
  margin: 0;
  max-width: 1200px;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1, h2 {
  display: inline-block;
  font-weight: normal;
}
h1 {
  font-size: 18px;
  margin: 0;
}
h2 {
  font-size: 20px;
}
#menu-toggle, body > label {
  display: none;
}
#menu {
  background: #464f77;
  color: #868ba2;
  float: left;
  width: 33.3%;
  min-width: 300px; 
  text-align: center;
  position: relative;
  z-index: 9999;

}
#menu nav {
  padding: 30px 0 200px 0;
  width: auto;
}
.info {
  padding: 20px 0;
  margin-left: 40px;
}
.info img {
  display: inline-block;
  position: relative;
  right: 10px;
  top: 8px;
}
.info .count {
  left: 28px;
}
#all-todos li a {
  padding-left: 40px;
}
nav li {
  display: inline-block;
  width: 100%;
}

nav li a {
  display: inline-block;
  color: #868ba2;
  min-width: 230px;
  padding: 20px;
}
.active {
  background: #383f5f;

}
.active .count {
  background: #148fd5;
  color: #fff;
}
.count {
  display: inline-block;
  float: right;
  position: relative;
  right: 10px;
  border-radius: 20px;
  background: #6b7292;
  padding: 0.5px 6px;
}
.count:after {
  clear: both;
  content: "";
  display: block;
}
input[type="checkbox"]:hover, label:hover {
  cursor: pointer;
}
input[type="checkbox"]:checked + label,
.complete a {
  color: #a0a0a0;
  text-decoration: line-through;
}
main:before {
  clear: both;
  content: "";
  display: block;
}
main {
  background-color: #fff;
  margin: 0;
  padding: 78px 22px;
  overflow: hidden;
}

h2 .count {
  font-size: 14px;
  font-weight: normal;
  background: #148fd5;
  color: #fff;
  float: none;
  position: relative;
  left: 10px;
  bottom: 3px;
}
main ul {
  min-width: 150px;
}
input {
  cursor: pointer;
}
.list-item, .new {
  padding: 10px 0;
}
.list-item + .list-item {
  border-top: 1px solid #eee;
}
.new label {
  color: #148fd5;
  cursor: pointer;
}
.remove {
  display: inline-block;
  float: right;
  position: relative;
  right: 20px;
  cursor: pointer;
}
.remove:after {
  clear: both;
  content: "";
  display: block;
}
main ul li:hover, p > a:hover {
  color: #148fd5;
}
main a {
  font: inherit;
  cursor: pointer;
}
/* Style Checked List Items */
.list-item .complete:checked{
  text-decoration: line-through;
  color: ;
} 
#new-item {display: none;}
#new-item:not(:checked) + div {
  display: none;
}
#new-item:checked + div form {
  position: absolute;
  left: 50%;
  z-index: 2;
  height: auto;
  margin: 0 0 0 -7.5em;
  padding: 30px 20px;
  background: #fff;
  width: 520px;
}
#new-item:checked + div:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  background: rgba(0, 0, 0, .4);
}
/* Form Layout */
.list-item form label,
.list-item form label > span {
  margin-bottom: 15px;
}
.list-item form label {
  display: block;
}
.list-item form label > span {
  width: 100px;
  float: left;
  height: 20px;
  margin: 6px 0;
  color: #000;
  font-size: 18px;
} 
.list-item form p {
    display: inline;
    position: relative;
    top: 5px;
    left: 5px;
    color: #000;
    font-size: 30px;
}
.list-item input, select, textarea {
  border: 1px solid #e0e0e0;
  font: normal 18px Helvetica, Arial, sans-serif;
  color: #a0a0a0;
}
.list-item input:focus, select:focus, textarea:focus {
  color: #000;
}
.list-item form input, select {
  height: 30px;
}
#title {
  width: 78%;
}
#due-date {
  width: 23%;
  margin-right: -2%;
}
textarea {
  max-width: 400px;
  max-height: 500px;
}
#buttons {
  margin: 30px 10px 0px 100px;
}
#save, #mark {
  background: #148fd5;
  color: #fff;
  padding: 10px 30px 30px 30px;
  border-radius: 4px;
  width: 49%;
}
#date-label,
#description-label {
  position: relative;
}
#date-label {
  top: 6px;
}
#description-label {
  bottom: 3px;
} 






/*Media Queries */
@media (max-width: 900px) {
  /* Form Adjustments */
}
@media (max-width: 768px) {
  /* Menu Icon */
  body > label {
    display: inline-block;  
    cursor: pointer;
  }
  label img {
    margin: 18px 22px 35px 22px;
  }
  #menu-toggle {
    display: none; 
  }
  #menu {
    display: none;
    float: left;
  }
  #menu-toggle:checked + #menu {
    display: block;
  }
  body {
    max-width: 600px;
  }
  main {
    padding: 0 22px;
  }
  
}

/* 
--Clearfix--
.group:after {
  content:"";
  display: block;
  clear: both;
}
--Placehold.it--
url("http://placehold.it/#x#")
*/ 
